@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.divForm {
  width: 80% !important;
}

/* .globalButton {
  background-color: #004e7f;
} */

.campoCadastro {
  margin-bottom: 10px !important;
}

input {
  padding-left: 10px;
}